<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Moneyguard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Moneyguard.Properties.Settings>
      <setting name="pass" serializeAs="String">
        <value/>
      </setting>
      <setting name="ricordami" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="email" serializeAs="String">
        <value/>
      </setting>
      <setting name="entra_aut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="aut_sync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="widget_contrasto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_controlli_adestra" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_size" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="window_size" serializeAs="String">
        <value>1000, 600</value>
      </setting>
      <setting name="window_location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ora_minuto" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="close_in_application_bar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mute" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="show_calendar_when_opened" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="widget_visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="show_maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="show_update_mess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="last_access_offline" serializeAs="String">
        <value>False</value>
      </setting>
    </Moneyguard.Properties.Settings>
  </userSettings>
</configuration>
